
.menu-page {
    position: relative;
    background: url(../../img/bg_bokovaya-panel.png) top /cover no-repeat;
    position: relative;
    z-index: 5;

    
    &__header {
        padding: 20px;
        display: flex;
        align-items: center;
   }
    
    &__title {
        font-family: UniSansCaps;
        font-size: 30px;
        font-weight: 900;
        color: #ffffff;
        letter-spacing: 0.75px;
        line-height: 1.1;
    }
    &__burger {
        position: relative;
        z-index: 5;
        flex:0 0 36px;
        width: 35px;
        height: 34px;      
        background-color: #068292;
        padding: 4px 5px;
        span{
            position: relative;
            z-index: 5;
            width: 24px;
            height: 2px;
            background-color: #ffffff;
            display: block;
            margin-top: 5px;
            transition: 0.6s all;
            cursor: pointer;
           }
        &_active{
            span{
                margin-bottom:-6px;
                &:nth-child(1){
                    transform:translateY(4px) rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform:translateY(3px) rotate(45deg);
                }
            }
        }
    }
    &__content{
       
    }
    &__body {
        
    }
    &__list {
        display: none;
        &_active{
            display: block;
            
        }
       
    }
    &__item {
        padding: 15px 11px 15px 21px;
        border:1px solid rgb(242, 242, 242);
        border-bottom: none ;
        border-left: none;
        border-right: none;
       
            &:hover{
            background-color: rgb(9, 132, 148);
               }
        }
        &__link {
            font-size: 12px;
            font-family: "Roboto";
            color: rgb(255, 255, 255);
            text-align: left;
            position: relative;
          
        }
    &__parent{
        &._active{
            transition:all 5s;
            .submenu-page{
                z-index:1 ;
                transform: translateX(100%);
                
        }
      }    
        .menu-page__link{
            display: flex;
            &::after{
                content: '';
                background:url(../../img/streka_wspl_okne.png) 0 0 no-repeat; 
                position: absolute;
                z-index: 5;
                width: 14px;
                height: 14px;
                transform: translateY(-50%);
                top:50%;
                right: 0;
            }
          }
       
        
    }    
   
    &__submenu {
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        transform: translateX(-500%);

       

    }
    .submenu-page {        
        hr{
            background-color: rgb(222, 222, 222);
            height: 1px;
            margin-top: 31px;
        }
        &__items{
            z-index: 1;
            background-color: rgb(255, 255, 255);
            padding: 20px 0px 192px  0px;
            border: 2px solid  rgb(9, 132, 148);
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            left: 0;
            top:0;
        }   
        &__item {
            position: relative;
            z-index: 1;
            padding: 15px 19px ;
            background-color: rgb(255, 255, 255);
            &:hover{
                background-color: rgb(113, 199, 211);
               }
    
        }
        &__link {
            position: relative;
            z-index: 1;
            font-size: 12px;
            text-align: center;
            color:rgb(113, 199, 211) ;
            &:hover{
                color: rgb(255, 255, 255);
            }
           
        } 
        &__img {
            position: relative;
            z-index: 1;
            display: block;
            position: relative;
            margin:47px 18px 13px 18px  ;
    
        }
        &__img-link{
            color: rgb(54, 148, 159);
            line-height: 1.5;
            text-align:center;
            position: relative;
            z-index: 1;
            
              
        }
        &__laibel {
            position:absolute;
            z-index: 1;
            font-size: 14px;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            text-align: center;
            background-color: rgb(253, 132, 36);
            padding: 4px 14px;
            border-radius: 35px;
            top:-30px;
            left:0;
        }
        &__footer {
            display: flex;
            position: relative;
            z-index: 1;
            align-items: center;
            justify-content: space-between;
            padding: 30px 37px ;
        }
        &__basket {
            position: relative;
            z-index: 1;
        }
        &__prise-wrapper {
            display: flex;
            position: relative;
            z-index: 1;
            align-items: center;
        }
        
        &__prise {
           font-size: 24px;
           position: relative;
           z-index: 1;
            color: rgb(51, 51, 51);
            z-index: 1;
            font-weight: 900;
            margin-right: 8px;
                        
        }
        &__r{
            position: relative;
            z-index: 1;
            height: 15px;
         }  
    }
}


@media (max-width: 991px){
    .menu-page{
        &__header{
            justify-content: space-between;
        }
        &__parent{
            &._active{
                transition:all 5s;
                .submenu-page{
                    z-index:1 ;
                    transform: translateY(100%);
                    
            }
          }    
            .menu-page__link{
                display: flex;
                &::after{
                    content: '';
                    background:url(../../img/streka_wspl_okne.png) 0 0 no-repeat; 
                    position: absolute;
                    z-index: 5;
                    width: 14px;
                    height: 14px;
                    transform: translateY(-50%);
                    top:50%;
                    right: 0;
                }
              }
           
            
        }
        &__submenu {
            position: absolute;
            width: 100%;
            height: 100%;
            left:0;
            top:0;
            transform: translateY(-500%);
    
           
    
        }    
     }
}






