
.search-page {
    position: relative;
    display: flex;
    z-index: 3;
     &__select{
         cursor: pointer;
        display: flex;
        align-items:center;
        background-color: #f3f3f3;
        padding: 0px 14px;
       
     
        
   }
    
    &__title {
        display: flex;
        align-items:center;
        font-weight: 300;
        color: #666666;
        font-size: 14px;
        border-bottom: 1px dashed #f2f2f2;
        margin: 0 13px;
        span{
            &:last-child{
                display: none;
            }
        }
        &::before{
            content:'';
            width: 17px;
            height: 17px;
            background: url(../../img/lupa.png) 0 0;
            margin-right: 13px;
            } 
        &::after{
            content:'';
            transition: all 0.3s ease 0s;
            margin-left: 13px;
            width: 10px;
            height: 10px;
            background: url(../../img/strelka_niz.png) 0 0 ; 
             }
        &._categories{
            span{
              display: none;
              &:last-child{
                 display: block; 
              }  
            }

        }
        &._active{
            &::after{
                transform: rotate(180deg);
            }
        }

        
             

    }
    &__categories {
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
    }
    &__input {
        flex: 1 1 auto;
        border-top: solid 2px #f2f2f2;
        border-bottom: solid 2px #f2f2f2;
        .input{
            height: 100%;
        }
   }
    &__page-btn {
    }
}


.categories-search {
    display:none;
    background-color: #ffff;
    border-bottom:4px solid #f68038;
    &__row {
        display: flex;
        border-left:1px solid #f2f2f2;
        border-right:1px solid #f2f2f2;
    }
    &__column {
        border-right: 1px solid #f3f3f3;
        flex:1 1 33.3%;
        padding: 27px 40px;
        &:last-child{
            border:none;
        }
    }
    &__list {
        li{
            margin: 0px 0px 20px 0px;
        }
    }
    &__checkbox{
        
    }
    &__input{
        &:checked + .categories-search__text {
            background-color:#ffff;
            color:#f68038;
        }  
       
    }
    &__text{
        cursor: pointer;
        color:#666;
        font-size: 14px;
       
    }
   
 
}

.btn {
    display: inline-block;
    padding: 0px 25px;
    justify-content: center;
    align-items: center;
    height: 39px;
    background-color: #f68038;
    font-size: 12px;
    font-weight: 900;
    color: #ffffff;
    transition: 0.4s all;
    &:hover{
        background-color: #814017;
    }

}

@media(max-width: 991px) {
    .categories-search {
        &__column {
            border-right: 1px solid #f3f3f3;
            flex:1 1 33.3%;
            padding: 20px 0px 0px 15px;
        }
        &__text{
            font-size: 14px;
        }
   }
}
@media(max-width: 767px) {
    .categories-search {
        &__column {
            padding: 20px 0px 0px 15px;
        }
        &__text{
            font-size: 14px;
        }
        &__list {
            li{
                margin: 0px 0px 25px 0px;
            }
        }
   }
}
@media(max-width: 576px) {
    .categories-search {
        &__row {
            border:none;
            display: block;
            padding: 0 30px;
        }
        &__text{
            font-size: 25px;
        }
        &__list {
            li{
                margin: 0px 0px 25px 0px;
            }
        }
   }
   .search-page{
       justify-content: center;
    &__select {
       display: none;
       }
      &__input{
          border-left:1px solid #f2f2f2;
      } 
   }
}
